package {{packagePath}};

{{#description}}
/**
* {{description}}
**/
{{/description}}
public enum {{name}} {

{{#members}}
    {{{this}}}{{^-last}}, {{/-last}}{{#-last}};{{/-last}}
{{/members}}

    private String value;

    {{name}} (String value) {
    this.value = value;
    }

    public String getValue() {
        return value;
    }

    @Override
    public String toString() {
        return value;
    }
}