package {{packagePath}};

{{#imports}}import {{{.}}};
{{/imports}}

{{#description}}
/**
* {{description}}
**/
{{/description}}
public interface {{name}}{{#superInterfaces}} extends {{{typeName}}}{{^-last}}, {{/-last}}{{/superInterfaces}} {

{{#fields}}
    {{#typeReference}}{{{generatedType}}}{{/typeReference}} {{getter}}();
{{/fields}}
}