package {{packagePath}};

{{#imports}}import {{{.}}};
{{/imports}}

{{#description}}
/**
* {{description}}
**/
{{/description}}
public class {{name}}{{#genericTypes}}<{{this}}{{^-last}}, {{/-last}}>{{/genericTypes}}{{#superClass}} extends {{{superClass}}}{{/superClass}} {{#inheritedTypes}}{{#-first}}implements {{/-first}}{{typeName}}{{^-last}}, {{/-last}}{{/inheritedTypes}} {

{{#members}}
    {{>field}}
{{/members}}

{{#members}}
    public {{#typeReference}}{{{generatedType}}}{{/typeReference}} {{getter}}() {
        return {{name}};
    }
    public void {{setter}}({{#typeReference}}{{{generatedType}}}{{/typeReference}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/members}}
}